/*Digitizing Bach Application
A subset of the Emotional Piano Experiment
MAPLE Lab, McMaster


Written by Kyle Gauder
Git Repo: https://github.com/gauderkd/DigitizingBach
CSS*/
input:focus {
    outline: none;
}

/*Position of the 8 album buttons
note that piano and harpsichord sets are in seperate containers*/
.buttonPOS1 {
    left: 0;
    top: 0;
}

.buttonPOS2 {
    left: 85px;
    top: 0;
}

.buttonPOS3 {
    left: 170px;
    top: 0;
}

.buttonPOS4 {
    left: 255px;
    top: 0;
}

.buttonPOS5 {
    left: 0;
    top: 85px;
}

.buttonPOS6 {
    left: 85px;
    top: 85px;
}

.buttonPOS7 {
    left: 170px;
    top: 85px;
}

.buttonPOS8 {
    left: 0;
    top: 0;
}

.buttonPOS9 {
    left: 85px;
    top: 0;
}

.buttonPOS10 {
    left: 170px;
    top: 0;
}

.buttonPOS11 {
    left: 255px;
    top: 0;
}

.buttonPOS12 {
    left: 0;
    top: 85px;
}

.buttonPOS13 {
    left: 85px;
    top: 85px;
}

.buttonPOS14 {
    left: 255px;
    top: 85px;
}

.buttonPOS15 {
    left: 170px;
    top: 85px;
}

/*The display containers are being used for development purposes only to see what's going on with variables*/
.display {
    position: absolute;
    top: 760px;
    left: 500px;
    z-index: 600;
    color: red;
    display: none;
}

.display2 {
    position: absolute;
    top: 760px;
    left: 520px;
    z-index: 12;
}

/**/
/*Various Text*/
.editorModeText {
    display: none;
    position: absolute;
    left: 30px;
    top: 200px;
    width: 350px;
    z-index: 8;
}

.selfCredit {
    position: absolute;
    left: 25px;
    top: 780px;
    width: 350px;
    z-index: 50;
}

.selfCreditText {
    font-size: 10px !important;
}

/*"Well-Tempered Clavier" title*/
.logoTitle {
    position: absolute;
    left: 480px;
    text-align: left;
    width: 600px;
    top: 10px;
    z-index: 3;
    font-weight: 700 !important;
    font-size: 250% !important;
}

/*Bach text and portrait*/
.bachPlaceholder, .chopinPlaceholder {
    position: absolute;
    top: 230px;
    left: 500px;
    z-index: 3;
    width: 400px;
}

.bachPor {
    top: -80px;
    left: 100px;
    width: 100px;
    height: 100px;
    position: absolute;
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: right;
}

.bachText {
    position: absolute;
    text-align: center;
    left: 20px;
    top: 20px;
}

.chopinPlaceholder {
    display: none;
}

.chopinPor {
    top: -90px;
    left: 110px;
    position: absolute;
    width: 100px;
    height: 100px;
    position: absolute;
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: right;
}

.chopinText {
    position: absolute;
    text-align: center;
    left: 40px;
}

/******/
.contentEditor {
    display: none;
}

.extraMenuItems {
    position: absolute;
    left: 46px;
}

#audioButtonContainer {
    position: absolute;
    left: 15px;
    top: 0px;
    z-index: 30;
}

/*Play and Pause Display on top left*/
.playpauseDisplay {
    position: absolute;
    float: left;
    margin: 3px;
    padding: 0;
    height: 30px;
    width: 30px;
    background-size: 30px 30px;
    opacity: 0.6;
    background-repeat: no-repeat;
}

.playDisplay {
    display: none;
}

.pauseDisplay {
    display: show;
}

/*MAPLE lab Logo*/
.logoMAPLE {
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: right;
    position: absolute;
    left: 860px;
    top: 5px;
    z-index: 2;
}

/******/
/*notice to be displayed below the graph*/
#notice {
    position: absolute;
    z-index: 5;
    top: 755px;
    left: 480px;
    width: 400px;
}

.noticeText {
    font-size: 12px !important;
}

/******/
/****Properties Styles File******/
/*Performer Name, caption and portrait container*/
.caption {
    font-size: 15px;
    line-height: 15px !important;
    position: absolute;
    text-align: left;
    z-index: 20;
    left: -80px;
    width: 370px;
    top: 460px;
    display: none;
}

.portrait {
    width: 125px;
    height: 125px;
    background-size: 125px 125px;
    float: right;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #000;
}

/*The 'area' of the applet*/
#maincontainer {
    position: relative;
    width: 900px;
    height: 850px;
    margin: 1px auto;
}

/*Main background*/
#containerBackground {
    background: #d3d3d3;
    position: absolute;
    z-index: 1;
    left: 10px;
    width: 900px;
    height: 800px;
    border-radius: 20px;
    box-shadow: 3px 3px 15px #000;
}

/*Menu Background*/
#menuBackground {
    background: gray;
    position: absolute;
    z-index: 2;
    left: 27px;
    top: 25px;
    width: 350px;
    height: 114px;
    border-radius: 20px;
    box-shadow: 3px 3px 15px #000;
}

#mainMenu {
    position: absolute;
    top: 10px;
    left: -0;
    z-index: 20;
}

/*Content containers*/
.content {
    top: 180px;
    left: 30px;
    width: 400px;
    float: left;
    position: absolute;
    z-index: 10;
}

.contentChopin {
}

.contentBacheditor {
    display: none;
}

.piano {
    position: absolute;
}

.harpsichord {
    position: absolute;
    top: 200px;
}

/*Album Button style*/
.button {
    display: none;
    float: left;
    margin: 3px;
    padding: 0;
    border-radius: 5px;
    height: 75px;
    width: 75px;
    position: absolute;
    border: 2px solid #000;
    cursor: pointer;
    background-size: 75px 75px;
    z-index: 15;
}

.defbutton {
    float: left;
    margin: 3px;
    padding: 0;
    border-radius: 5px;
    height: 75px;
    width: 75px;
    position: absolute;
    border: 2px solid #000;
    background-size: 75px 75px;
    cursor: pointer;
    z-index: 15;
}

.instrumentTitle {
    position: absolute;
    top: -25px;
}

/*piano buttons inactive state*/
.inactive {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    cursor: not-allowed !important;
    box-shadow: inset 0 0 0 0 #000;
    opacity: .2 !important;
}

.unselected {
    opacity: .5;
    box-shadow: inset 0 0 0 0 #000;
    cursor: pointer;
}

/*
CLICKED displays
Look when the button is clicked
*/
.hovered {
    box-shadow: 0 0 8px 3px #000;
    opacity: 1 !important;
}

.btnclicked {
    opacity: .8;
    box-shadow: 0 0 10px 3px #C11B17;
}

.menuhovered {
    box-shadow: inset 0 0 15px #939393;
}

.menuhoveredOverride {
    box-shadow: inset 0 0 15px #939393 !important;
}

/*
Prelude,Fugue/Major,Minor click effect with shadow
*/
.menuclicked {
    box-shadow: inset 0 0 25px #C42026;
}

.menuclickedhover {
    box-shadow: inset 0 0 55px #C42026 !important;
}
