/*Digitizing Bach Application
A subset of the Emotional Piano Experiment
MAPLE Lab, McMaster


Written by Kyle Gauder
Git Repo: https://github.com/gauderkd/DigitizingBach


Styling for extra menu buttons
*/

/*When active, stops all audio playback*/
.extraMenuItems {
    position: absolute;
    top: 10px;
    height: 20px;
    right: calc(0px + 2.2%);
    z-index: 8;
}
#extraMenuItems div {
    float: left;
    height: 20px;

}
.stopPlay {
    margin-right: -1px;
    margin-left: -1px;
    float: left;
    width: 30px;
    background-size: 23px 23px;
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: center;
    border: 2px solid #000;
    cursor: pointer;
    z-index: 4;
    height: 20px;
}

/*Button when active, allows you to scroll between pieces and auto play selected performer*/
.autoButton {
    margin-right: -1px;
    margin-left: -1px;
    float: left;
    z-index: 4;
    width: 60px;
    font-size: 18px !important;
    line-height: 15px !important;
    text-align: center;
    border: 2px solid #000;
    background: #fff;
    cursor: pointer;
    border-top-right-radius: 15px;
    height: 20px;
}

/*Input a number between 1-24 to automatically choose piece number*/
#pieceNum {
    margin-right: -1px;
    margin-left: -1px;
    float: left;
    width: 30px;
    background-color: #fff;
    z-index: 80;
    border: 2px solid #000;
    border-radius: 0;
    text-align: center;
    height: 20px;
    padding: 0;
}

/*Click to open scatter plot*/
#scatterTab {
    margin-right: -1px;
    margin-left: -1px;
    float: left;
    width: 120px;
    background-color: #fff;
    z-index: 80;
    border: 2px solid #000;
    text-align: center;
    cursor: pointer;
    height: 20px;
}