/*Digitizing Bach Application
A subset of the Emotional Piano Experiment
MAPLE Lab, McMaster


Written by Kyle Gauder
Git Repo: https://github.com/gauderkd/DigitizingBach


Positioning of Pianokey.css and other menu options (Form, Key buttons)
*/
#lvlCOMPOSER {
    position: absolute;
    bottom: 5.2%;
    z-index: 6;
    text-align: center;
    display: none;
}

#lvlONE {
    position: absolute;
    left: 3px;
    top: -25px;
    z-index: 4;
}

#lvlTWO {
    position: absolute;
    left: 78px;
    top: 32px;
    width: calc(98% - 78px);
    z-index: 5;
}

#lvlTHREE {
    position: absolute;
    left: 3px;
    top: 24px;
    z-index: 6;
}

/**/
/*LEVEL COMPOSER*/
.plotPerformerBUTTON {
    display: none;
    position: absolute;
    width: 68px;
    font-size: 14px !important;
    line-height: 15px !important;
    text-align: center;
    height: 20px;
    border: 1px solid #000;
    background: #fff;
    cursor: pointer;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.plotEditorBUTTON {
    display: none;
    position: absolute;
    width: 68px;
    font-size: 14px !important;
    line-height: 15px !important;
    text-align: center;
    height: 20px;
    border: 1px solid #000;
    background: #fff;
    cursor: pointer;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.plotCombinedBUTTON {
    display: none;
    position: absolute;
    width: 68px;
    font-size: 14px !important;
    line-height: 15px !important;
    text-align: center;
    height: 20px;
    border: 1px solid #000;
    background: #fff;
    cursor: pointer;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.chopinBUTTON {
    position: absolute;
    width: 68px;
    font-size: 18px !important;
    line-height: 15px !important;
    text-align: center;
    left: 60px;
    height: 20px;
    border: 2px solid #000;
    background: #fff;
    cursor: pointer;
    display: none;
    border-top-right-radius: 15px;
}

/*LEVEL 1/3*/
/*Prelude and Fugue menu containers.*/
#prelude,#fugue,#major,#minor {
    text-align: center;
    color: #000;
    font-family: 'Kreon',serif;
    margin: 5px;
}

/*The prelude/Fugue BUTTONS. The vertical is controlled individually.*/
.lvlONEBUTTON {
    position: absolute;
    width: 68px;
    font-size: 18px !important;
    line-height: 15px !important;
    height: 47px;
    border: 2px solid #000;
    background: #fff;
    cursor: pointer;
    z-index: 3;
}

#formBUT .lvlONEBUTTON {
    /*prelude Button specifics*/
    top: 57px;
    left: 5px;
    text-align: center;
    color: grey;
    border-top-left-radius: 15px;
}

#prelude .lvlONEBUTTON {
    /*prelude Button specifics*/
    top: 57px;
    display: none;
    box-shadow: inset 0 0 30px #C42026;
    border-top-left-radius: 15px;
}

#fugue .lvlONEBUTTON {
    /*Fugue Button specifics*/
    top: 57px;
    display: none;
    box-shadow: inset 0 0 30px #C42026;
    border-top-left-radius: 15px;
}

.lvlTHREEBUTTON {
    position: absolute;
    width: 68px;
    font-size: 18px !important;
    line-height: 15px !important;
    height: 47px;
    border: 2px solid #000;
    background: #fff;
    cursor: pointer;
}

#modeBUT .lvlTHREEBUTTON {
    /*prelude Button specifics*/
    top: 57px;
    border-bottom-left-radius: 15px;
    left: 5px;
    text-align: center;
    color: grey;
}

#major .lvlTHREEBUTTON {
    /*prelude Button specifics*/
    top: 57px;
    border-bottom-left-radius: 15px;
    display: none;
    box-shadow: inset 0 0 30px #C42026;
}

#minor .lvlTHREEBUTTON {
    /*Fugue Button specifics*/
    top: 57px;
    border-bottom-left-radius: 15px;
    display: none;
    box-shadow: inset 0 0 30px #C42026;
}